[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
category-encoders = "*"
numpy = "*"
pandas = "*"
plotly = "*"
seaborn = "*"
scikit-learn = "*"
wandb = "*"
tensorflow = "*"
eli5 = "*"
xgboost = "*"
python-dotenv = "*"
matplotlib = "*"
gunicorn = "*"
dash = "*"
dash-bootstrap-components = "*"
joblib = "*"
dash-daq = "*"

[requires]
python_version = "3"
